@import '../../assets/styles/colors.scss';

.file-row {
    display: flex;
    width: 100%;
    position: relative;
}

.input-file {
    width: 100%;
    cursor: pointer;
    opacity: -0.8;
    z-index: 1;
}

.file-row__text {
    position: absolute;
    top: 0;
    left: 8%;
    z-index: 0;
    font-size: 14px;
    color: $color_blue;
    text-decoration: underline;
    cursor: pointer;
}
