
@import '../../assets/styles/colors.scss';

.mobile-search,  
.mobile-version {
    display: none;
}

.desktop-search {
    display: block;
}

.header__link {
    color: $color_white;
    margin-right: 13px;
    font-size: 11px;
}

.dropdown-menu {
    background-color: $btn_wright;
    font-size: 12px;
    border-radius: 0;

    .dropdown-item {
        color: $color_white;

        &:hover {
            background-color: $color_blue;
        }
    }
}
.nav-link {
    color: $color_white !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:$color_blue !important ;
}

.dropdown-toggle::after {
    color: $color_white;
}

  
// .d-flex {
//     display: flex;
// }
  
.ms-3 {
    margin-left: 1rem;
}

.form-control-sm{
    width: 150px;
}

@media (max-width: 820px) {

    .mobile-search {
        display: flex;
        width: 87%;
        justify-content: flex-end;
        margin-right: 10px;
    }
    
    .desktop-search {
        display: none !important;
    }
    
    .mobile-version {
        display: block;
        position: relative;
        margin:30px auto 74px;

        .second-img {
            left: -2%;
            top: 44%;
        }

        .title {
            font-size: 15px;
            margin-bottom: 2px;
        }

        p {
            font-size: 12px;
        }

        .mobile-version__content {
            float: right;
            margin-right: 72px;
        }
    }
   
    .navbar-toggler {
        border: none; 
        padding: 0;
       &:focus {
            
            box-shadow:none; 
        }
      
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}