@import '../../assets/styles/colors.scss';

.sidebar-section {
    background-color: $color_bg;
    width: 300px;
    height: inherit;
}

.sidebar-section__img--content {
    position: relative;
}

.second-img {
    position: absolute;
    left: 27%;
    top: 64%
}

.sidebar-section__content {
    text-align: center;
    padding: 69px 20px;

    .subtitle {
        font-size: 12px;
        margin-bottom: 60px;
    }

    .social {
        width: 105px;
        display: flex;
        margin: 18px auto ;
        list-style: none;
        background-image:url("../../assets/images/sidebar-social.png");
        

        a {
            position: relative;
            display: block;
            transition: .3s ease-in-out;
            width: 26px;
            height: 26px;
            margin-left: -32px;
            margin-right: 46px;
            border-radius: 50%;

            &:hover {
                background-color: #d1eefa;
                opacity: 0.5;
            }
        }
    }

}

.sidebar-section__content,
.mobile-btn {
    .btn-wright {
        background: $btn_wright !important;
    }

    .btn {
        padding: 13px 25px;
        background: $color_btn;
        box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
        border-radius: 25px;
        
    }
}