$color_white: #FFFFFF;
$color_body:#181818;
$color_header:#0D0D0D;
$color_bg:#202020;
$color_title:#F3EBA2;
$color_input:#121212;
$color_subtitle:#D2D2D2;
$secondary_subtitle: #828282;
$color-sub_3: #757575;
$color_btn: #ED3024;
$btn_wright: #3137C9;
$btn_hover: #e7675e;
$btn_hover2: #7276e8;
$color_blue: #107EFF;
$mywork_btn: #EA8C1E;
$mywork_btn_hover: #be6a0a;
